<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="ur_arm_gazebo" params="prefix">

    <gazebo reference="${prefix}ur3_base_link">
      <selfCollide>true</selfCollide>
      <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo reference="${prefix}shoulder_link">
      <selfCollide>true</selfCollide>
      <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo reference="${prefix}upper_arm_link">
      <selfCollide>true</selfCollide>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="${prefix}forearm_link">
      <selfCollide>true</selfCollide>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="${prefix}wrist_1_link">
      <selfCollide>true</selfCollide>
      <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo reference="${prefix}wrist_2_link">
      <selfCollide>true</selfCollide>
      <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo reference="${prefix}wrist_3_link">
      <selfCollide>true</selfCollide>
      <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo reference="${prefix}ee_link">
      <selfCollide>true</selfCollide>
    </gazebo>

    <!-- Gazebo Joint State Publisher Plugin -->
    <gazebo>
      <plugin
        filename="libignition-gazebo-joint-state-publisher-system.so"
        name="ignition::gazebo::systems::JointStatePublisher">
        <update_rate>50</update_rate>
      </plugin>
    </gazebo>

    <!-- Gazebo Joint Position Controller Plugin for each arm joint -->
    <gazebo>
      <plugin
        filename="libignition-gazebo-joint-position-controller-system.so"
        name="ignition::gazebo::systems::JointPositionController">
        <joint_name>${prefix}ur3_joint1</joint_name>
        <topic>/${prefix}ur3_joint1/cmd_pos</topic>
        <p_gain>2000</p_gain>
        <i_gain>100</i_gain>
        <d_gain>50</d_gain>
        <i_max>500</i_max>
        <i_min>-500</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin
        filename="libignition-gazebo-joint-position-controller-system.so"
        name="ignition::gazebo::systems::JointPositionController">
        <joint_name>${prefix}ur3_joint2</joint_name>
        <topic>/${prefix}ur3_joint2/cmd_pos</topic>
        <p_gain>2000</p_gain>
        <i_gain>100</i_gain>
        <d_gain>50</d_gain>
        <i_max>500</i_max>
        <i_min>-500</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin
        filename="libignition-gazebo-joint-position-controller-system.so"
        name="ignition::gazebo::systems::JointPositionController">
        <joint_name>${prefix}ur3_joint3</joint_name>
        <topic>/${prefix}ur3_joint3/cmd_pos</topic>
        <p_gain>2000</p_gain>
        <i_gain>100</i_gain>
        <d_gain>50</d_gain>
        <i_max>500</i_max>
        <i_min>-500</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin
        filename="libignition-gazebo-joint-position-controller-system.so"
        name="ignition::gazebo::systems::JointPositionController">
        <joint_name>${prefix}ur3_joint4</joint_name>
        <topic>/${prefix}ur3_joint4/cmd_pos</topic>
        <p_gain>2000</p_gain>
        <i_gain>100</i_gain>
        <d_gain>50</d_gain>
        <i_max>500</i_max>
        <i_min>-500</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin
        filename="libignition-gazebo-joint-position-controller-system.so"
        name="ignition::gazebo::systems::JointPositionController">
        <joint_name>${prefix}ur3_joint5</joint_name>
        <topic>/${prefix}ur3_joint5/cmd_pos</topic>
        <p_gain>2000</p_gain>
        <i_gain>100</i_gain>
        <d_gain>50</d_gain>
        <i_max>500</i_max>
        <i_min>-500</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin
        filename="libignition-gazebo-joint-position-controller-system.so"
        name="ignition::gazebo::systems::JointPositionController">
        <joint_name>${prefix}ur3_joint6</joint_name>
        <topic>/${prefix}ur3_joint6/cmd_pos</topic>
        <p_gain>2000</p_gain>
        <i_gain>100</i_gain>
        <d_gain>50</d_gain>
        <i_max>500</i_max>
        <i_min>-500</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
