<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- UR3 arm -->
  <xacro:include filename="$(find husky_ur3_description)/urdf/ur3.urdf.xacro" />

  <!-- Robotis RH-P12-RN Gripper -->
  <xacro:include filename="$(find husky_ur3_description)/urdf/rh_p12_rn_gripper.xacro" />

  <!-- UR3 arm configuration -->
  <xacro:ur3_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi+0.52359}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <!-- Attach UR3 to Husky top plate -->
  <joint name="husky_ur3_joint" type="fixed">
    <parent link="top_plate_link" />
    <child link="ur3_base_link" />
    <origin xyz="0.2 0 0.1" rpy="0 0 0" />
  </joint>

  <!-- Attach Robotis RH-P12-RN gripper to UR3 wrist_3_link -->
  <!-- Attach to LEFT circular part, HORIZONTAL pointing OUTWARD, arms FLIPPED 180° -->
  <joint name="gripper_base_joint" type="fixed">
    <parent link="wrist_3_link" />
    <child link="rh_p12_rn_base" />
    <origin xyz="0 0.06 0" rpy="${pi/2} 0 ${pi}"/>
  </joint>

</robot>

